* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #0094FD;
}

section {
    margin-top: 3em;
    max-height: 300px;
    min-width: 340px;
     max-width: fit-content;
    display: block;
    justify-content: center;
    text-align: center;
    line-height: 1.4;
    padding: 5em 20px;

    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

h2, button {
    padding-block: 10px;
}

p {
    font-size: 1.3rem;
}

button {
    text-align: center;
    height: 50px;
    width: 170px;
    border: none;
    border-radius: 5em;
    background-color: #0094FD;
    font-size: 1.3rem;
    color: #FFFFFF;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}


@media ( max-width: 734px) {

      
}


